<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title>edit profile</title>
<div th:replace="layout_navbar :: head"></div>
<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" media="screen" />
<script th:src="@{/js/jquery-2.1.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>

</head>


<body>
<div th:replace="layout_navbar :: navbar"></div>

	
	 <div class="container">
<div class="row">
<div class="col-md-10 ">
<form th:object="${user}" th:action="@{/homedosen}" class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>User profile form requirement</legend>

<!-- Text input-->

<input type="hidden" th:field="*{id}"/>
<input type="hidden" th:field="*{version}"/>

<div class="form-group">
  <label class="col-md-4 control-label" for="Name (Full name)">User Name</label>  
  <div class="col-md-4">
 <div class="input-group">
       <div class="input-group-addon">
        <i class="fa fa-user">
        </i>
       </div>
       <input id="Name (Full name)" name="Name (Full name)" type="text" placeholder="User Name" class="form-control input-md" th:field="*{username}"/>
      </div>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="Upload photo">Upload photo</label>
  <div class="col-md-4">
    <input id="Upload photo" name="Upload photo" class="input-file" type="file"/>
  </div>
</div>

<!-- Text input-->


<!-- Multiple Radios (inline) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="Gender">Gender</label>
  <div class="col-md-4"> 
    <label class="radio-inline" for="Gender-0">
      <input type="radio" name="Gender" id="Gender-0" value="1" checked="checked"/>
      Male
    </label> 
    <label class="radio-inline" for="Gender-1">
      <input type="radio" name="Gender" id="Gender-1" value="2"/>
      Female
    </label> 
   
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Phone number ">Phone number </label>  
  <div class="col-md-4">
  <div class="input-group">
       <div class="input-group-addon">
     <i class="fa fa-phone"></i>
        
       </div>
    <input id="Phone number " name="Phone number " type="text" placeholder="Primary Phone number " class="form-control input-md" th:field="*{noHp}"/>
    
      </div>
      
  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Email Address">Email Address</label>  
  <div class="col-md-4">
  <div class="input-group">
       <div class="input-group-addon">
     <i class="fa fa-envelope-o"></i>
        
       </div>
    <input id="Email Address" name="Email Address" type="text" placeholder="Email Address" class="form-control input-md" th:field="*{email}"/>
    
      </div>
  
  </div>
</div>

<div class="form-group">
	<label class="col-md-4 control-label" for="Email Address">Address</label>  \
	<div class="col-md-4">                     
    <textarea class="form-control" rows="10"  id="Overview (max 200 words)" name="Overview (max 200 words)">Address</textarea>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" ></label>  
  <div class="col-md-4">
  <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-thumbs-up"></span> Submit</a>
  <a href="#" class="btn btn-danger" value=""><span class="glyphicon glyphicon-remove-sign"></span> Clear</a>
    
  </div>
</div>

</fieldset>
</form>
</div>
<div class="col-md-2 hidden-xs">
<img src="http://websamplenow.com/30/userprofile/images/avatar.jpg" class="img-responsive img-thumbnail "/>
  </div>


</div>
   </div>
	
</body>
</html>